:root {
  /* Текст колор */
  --main-font: 'Roboto';
  --sacondary-font: 'Raleway';
  --title-text-color: #212121;
  --primery-text-color: #757575;

  /* Бэкграунд колор */
  --primery-white-color: #ffffff;
  --accent-text-color: #2196f3;
  --sacondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --button-hover: #188ce8;
}
/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: var(--primery-white-color);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header {
  background: var(--primery-white-color);
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}
.site-nav-list {
  display: flex;
  /* margin-right: auto; */
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .site-nav-list:hover,
.site-nav-list:focus{color: var(--accent-text-color);

} */
/* .site-nav-list:last-child {
  margin-right:o;
} */
.section1 {
  /* padding-top:94px; */
  padding-bottom: 94px;
}
.section2 {
  background-color: var(--primery-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section3 {
  background: var(--sacondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  /* display: flex; */
}
.section4 {
  background: var(--primery-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.image {
  display: flex;
}
.image-item-post {
  display: flex;
}

.image1 {
  display: flex;
}
.image2 {
  display: flex;
}

.Igor:not(:last-child) {
  margin-right: 30px;
}
.Igor {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  background-color: #ffffff;
}
.text-igor {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
/* .Olga {
  margin-right: 30px;
}
.Nikolay {
  margin-right: 30px;
}
.Mihail {
  margin-right: 30px;
} */
.personal:not(:last-child) {
  margin-right: 30px;
}

.item-post {
  /* margin-right: 30px; */
  width: 270px;
}
.item-post1 {
  /* margin-right: 30px; */
  width: 270px;
}
.item-post2 {
  /* margin-right: 30px; */
  width: 270px;
}
.item-post3 {
  /* margin-right: 30px; */
  width: 270px;
}
.item-post:not(:last-child) {
  margin-right: 30px;
}

/*site-nav*/

.site-nav.link {
  color: var(--title-text-color);
}
.link:not(:last-child) {
  margin-right: 50px;
}
.link1 {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  /* margin-right: 50px; */

  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}
.link2 {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  /* margin-right: 50px; */
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.link3 {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  margin-right: o;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.link1:hover,
.link1:focus,
.link2:hover,
.link2:focus,
.link3:hover,
.link3:focus {
  color: var(--accent-text-color);
}

.mail1:hover,
.mail1:focus {
  color: var(--accent-text-color);
  fill: #188ce8; 
 
}
.mail1:hover .socials-icon1 { fill: #188ce8; }
/* .socials-icon1:hover,
.socials-icon1:focus {
  /* color: var(--accent-text-color); */
/* fill:  var(--accent-text-color);
} */
.mail2:hover,
.mail2:focus {
  color: var(--accent-text-color);
}
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav1:not(:last-child) {
  margin-right: 30px;
}
/*button*/

.button {
  /* color: currentColor; */
  /* font-family: inherit; */
  /* border: none; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* margin-top: 94px; */
}
.button-child:not(:last-child) {
  margin-right: 8px;
}

.button-primary {
  background-color: var(--accent-text-color);
  color: var(--primery-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  width: 73px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  margin-bottom: 50px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.button-primary1 {
  background-color: var(--accent-text-color);
  color: var(--primery-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--button-hover);
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--button-hover);
}
.button-secondary {
  background-color: var(--sacondary-background-color);
  font-family: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  /* margin-left: 8px; */
  justify-content: center;
  border-radius: 4px;
  /* margin-bottom: 50px; */
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.about {
  /* flex-wrap: wrap; */
  /* display: flex; */
}
.about {
  margin-left: 30px;
  /* margin-bottom: 30px; */
  margin-top: 30px;
}
.main {
  /* margin-left: -20px; */
  margin-top: -30px;
  margin-left: -30px;
  /* margin-bottom: -30px; */
}
.main .about {
  flex-basis: calc(100% / 3-20px);
  /* margin-left: 20px; */
  /* margin-top: 20px; */
}

.about2 {
  margin-right: 30px;
}
.about3 {
  /* margin-left: 215px; */
  margin-right: 30px;
  flex-wrap: wrap;
  display: flex;
}
.about5 {
  margin-right: 30px;
  flex-wrap: wrap;
}
.about6 {
  margin-right: 30px;
  flex-wrap: wrap;
}
.about7 {
  margin-right: 30px;
  flex-wrap: wrap;
}

/*Контакты*/

.mail1 {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.mail2 {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  /* padding-top: 32px;
  padding-bottom: 32px; */
  /* margin-right: 215px; */
  display: block;
}
.mail-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
  /* margin-left: 215px; */
  /* margin-bottom: 9px; */
}
.footer-contact1:not(:last-child) {
  margin-bottom: 9px;
}
.mail-footer1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
  /* margin-left: 215px;
  margin-bottom: 60px; */
}
.contact-footer {
  display: inline;
}
/* .contact-footer:not(:last-child) {
  margin-bottom: 9px;
} */
a {
  display: inline-block;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
  /* margin-left: 215px; */
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo1 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
  /* margin-left: 215px; */
  /* margin-top: 60px; */
  margin-bottom: 20px;
}
.logo-studio {
  color: var(--dark-background-color);
}
.logo-studio-footer {
  color: var(--primery-white-color);
}

.footer {
  background: var(--dark-background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
  /* margin-left: 215px; */
  margin-bottom: 9px;
}
.post {
  margin-bottom: 50px;
}
.post1 {
  /* margin-top: 94px; */
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.post-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-top: o;
  margin-bottom: 4px;
}
.post-title1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
  /* padding-left: 60px;
  padding-right: 59pxpx;
  padding-top: 30px; */
}
.post-text4 {
  font-size: 16px;
  letter-spacing: 0.03em;
  /* text-align: left; */
  line-height: 1.71;
  color: var(--primery-text-color);
  text-align: center;
}
.post-title4 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.post-title5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-left: 24px;
}
.post-title6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-left: 24px;
}
.post-title7 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-left: 24px;
}
.post-title8 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-left: 24px;
}
.post-title9 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.post-title10 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.post-title11 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-left: 24px;
}
.post-title12 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  margin-left: 24px;
}
.post-text {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* margin-left: 30px; */
}
.post-text5 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* margin-left: 30px; */
}
.post-text6 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-left: 70px; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.post-text7 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-left: 70px; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.post-text8 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-left: 70px; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.post-text9 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-left: 70px; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.post-text10 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-left: 70px; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.post-text11 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-left: 70px; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.post-text12 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-left: 70px; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.post-text13 {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-left: 70px; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.post-text1 {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  padding-left: 62px;
  padding-right: 62pxpx;
  padding-top: 10px;
}
.post-text2 {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  padding-left: 97px;
  padding-right: 97pxpx;
  padding-top: 10px;
  /* padding-bottom: 30px; */
}
.post-text3 {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  padding-left: 92px;
  padding-right: 92pxpx;
  padding-top: 10px;
}

.post-link {
  text-decoration: none;
  /* margin-right: 20px; */
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}
.zagolovok {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  margin-left: 217px;
}
.solutions {
  background: var(--dark-background-color);
  position: left;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.), #c4c4c4);
  background-image: url(../img/Fonimage/Image.jpg);

  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.navigation {
  display: flex;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.last {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}
/* .conect2 {
  display: flex;
  margin-right: 156px;
  align-items: baseline;
}

 


/* .social {
  display: flex;
} */
.conect2 {
  margin-right: 50px;
}
.socials {
  /* background: #FFFFFF; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.iconsul {
  display: flex;
  /* margin-left: 215px; */
 
}
.iconsul1:not(:last-child) {
  margin-right: 30px;
}
/* .iconsul {
  margin-right: 30px;
} */
.social-links {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links1 {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links1:hover,
.social-links1:focus {
  background-color: #2196f3;
}
.social-links:hover .socials-icon {
  fill:#ffffff; 
}
.social-links:hover,
.social-links:focus {
  /* fill: #2196f3; */
  background-color: #2196f3;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.socials-icon {
  fill: #afb1b8;
}
.socials-icon2:hover {
  fill: #2196f3;
}
.social6 {
  margin-right: 516px;
  /* display: flex;
  align-items: baseline; */
  
}
.container4 {
  display: flex;
  align-items: baseline;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.socials-icon5 {
  /* background: rgba(255, 255, 255, 0.1); */
  fill: #ffffff;
}
.socials1 {
  display: flex;
  /* margin-left: 516px; */
}
.icons1 {
  display: flex;
  margin-bottom: 30px;
}
.icons2:not(:last-child) {
  margin-right: 30px;
}
.icons2:hover {
}
.socials-icon2 {
  fill: #757575;
  /* border-radius: 4px; */
  width: 106px;
  height: 60px;

  /* background-color: #E5E5E5; */
  /* border: 1px solid #afb1b8; */
}
.socials-3 {
  display: flex;
  align-items: center;
}
.socials-icon2:not(:last-child) {
  margin-right: 30px;
}
.social-icon2:hover {
  border-color: #2196f3;
}
.socials-icon5:hover {
  border-color: #2196f3;
}
.socials-icon3:hover {
  fill: #2196f3;
  border-radius: 4px;
  /* border-width: 270px; */
  /* border-height: 120px; */
  background-color: #f5f4fa;
  /* border: 1px solid #2196f3; */
}
.socials-icon3 {
  /* fill: #2196f3; */
  border-radius: 4px;
  /* width: 270px;
  height: 120px; */

  background-color: #f5f4fa;
  /* border: 1px solid #2196f3; */
}
 .client-link {
  border-radius: 4px;
  width: 170px;
  height: 92px;
 /* background-color: #E5E5E5; */
 align-items: center;
 display: flex;
 justify-content: center;
border: 1px solid #afb1b8;
 }
*/ .client-link2 {
  border-radius: 4px;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  display: block;
}
.dicoretion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.dicoretion-icon:hover {
  border-color: #2196f3;
}

/* .dicoretion-icon:not(:last-child){
  padding-bottom: 30px;
} */

.client-link:hover {
  /* .socials-icon:focus { */
  border-color: #2196f3;
}

.socials-icon1 {
  fill: #757575;
  align-items: center;
  margin-right: 10px;
}
/* .socials-icon1:hover,
.socials-icon1:focus {
  fill: currentColor;
} */
.social-links:hover,
.social-links:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.social-item {
  /* margin-bottom: 30px; */
}
.social-item1 {
}
.join-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
}
